# Dataset Creation


1. The orgional dataset is randomly generated from https://extendsclass.com/csv-generator.html
This dataset has 4 columns (**student_id**, **first_name**, **last_name**, and **email**) and 10500 rows (in case student_id and student names get duplicated, which will be removed later)
<img src="data_generator.png">

2. **gender** column is generated from https://www.mockaroo.com/, and then added to the original dataset

In [24]:
# import
import csv
import pandas as pd
import numpy as np

In [25]:
# open csv as a pandas dataframe
df = pd.read_csv('data.csv', names = ['student_id', 'first_name', 'last_name', 'email', 'gender'])

In [26]:
# lowercase all emails
df['email'] = df['email'].str.lower()
# remove spaces in emails
df['email'] = df['email'].str.replace(' ', '')

df

       student_id first_name last_name                       email  gender
0        10613065       Inga     Zeeba        inga.zeeba@gmail.com  Female
1        72356025       Kaja   Mandler      kaja.mandler@gmail.com  Female
2        15140208       Doro    Georas       doro.georas@gmail.com  Female
3        63401082      Merry    Bennie      merry.bennie@gmail.com  Female
4        91040330       Luci      Bord         luci.bord@gmail.com    Male
...           ...        ...       ...                         ...     ...
10495    51257807   Steffane      Truc     steffane.truc@gmail.com  Female
10496    40632374   Courtnay     Kevon    courtnay.kevon@gmail.com  Female
10497    48840723      Deane   Riordan     deane.riordan@gmail.com    Male
10498    13795002   Georgina   Grimbly  georgina.grimbly@gmail.com  Female
10499    64253254     Sandie    Shuler     sandie.shuler@gmail.com  Female

[10500 rows x 5 columns]

In [27]:
# lists of major and universities
major_list = ['accounting', 'astrophsics', 'chemistry', 'bioethics', 'behavioural studies', 'biochemistry', 'business law', 'business analytics and statistics', 'business information systems', 'computer science', 'computer networks and security', 'data science', 'economics', 'ecometrics', 'finance', 'finance and economics', 'film and screen studies', 'game design', 'genetics and genomics', 'gender studies', 'french studies', 'german studies', 'history', 'international studies', 'marketing', 'mathematics', 'music', 'physics', 'philosophy', 'politics', 'software development', 'web development']
university_list = ['Macquarie University', 'University of Sydney', 'University of Newcastle', 'University of Wollongong', 'University of Technology Sydney', '	University of New England', 'Charles Sturt University', 'Western Sydney University', 'Australian National University', 'La Trobe University']

# add 2 extra columns "major" and "university"
df['major'] = np.random.choice(major_list, size=len(df))
df['university'] = np.random.choice(university_list, size=len(df))

df

,student_id,first_name,last_name,email,gender,major,university
0,10613065,Inga,Zeeba,inga.zeeba@gmail.com,Female,genetics and genomics,University of Newcastle
1,72356025,Kaja,Mandler,kaja.mandler@gmail.com,Female,finance,Western Sydney University
2,15140208,Doro,Georas,doro.georas@gmail.com,Female,behavioural studies,Australian National University
3,63401082,Merry,Bennie,merry.bennie@gmail.com,Female,finance and economics,Australian National University
4,91040330,Luci,Bord,luci.bord@gmail.com,Male,music,University of Wollongong
...,...,...,...,...,...,...,...
10495,51257807,Steffane,Truc,steffane.truc@gmail.com,Female,international studies,University of Technology Sydney
10496,40632374,Courtnay,Kevon,courtnay.kevon@gmail.com,Female,business analytics and statistics,University of Sydney
10497,48840723,Deane,Riordan,deane.riordan@gmail.com,Male,astrophsics,University of Wollongong
10498,13795002,Georgina,Grimbly,georgina.grimbly@gmail.com,Female,behavioural studies,\tUniversity of New England
10499,64253254,Sandie,Shuler,sandie.shuler@gmail.com,Female,mathematics,Western Sydney University

In [28]:
# add full_name column to check the uniqueness of student names
df['full_name'] = df['first_name'] + ' ' + df['last_name']

In [29]:
df

,student_id,first_name,last_name,email,gender,major,university,full_name
0,10613065,Inga,Zeeba,inga.zeeba@gmail.com,Female,genetics and genomics,University of Newcastle,Inga Zeeba
1,72356025,Kaja,Mandler,kaja.mandler@gmail.com,Female,finance,Western Sydney University,Kaja Mandler
2,15140208,Doro,Georas,doro.georas@gmail.com,Female,behavioural studies,Australian National University,Doro Georas
3,63401082,Merry,Bennie,merry.bennie@gmail.com,Female,finance and economics,Australian National University,Merry Bennie
4,91040330,Luci,Bord,luci.bord@gmail.com,Male,music,University of Wollongong,Luci Bord
...,...,...,...,...,...,...,...,...
10495,51257807,Steffane,Truc,steffane.truc@gmail.com,Female,international studies,University of Technology Sydney,Steffane Truc
10496,40632374,Courtnay,Kevon,courtnay.kevon@gmail.com,Female,business analytics and statistics,University of Sydney,Courtnay Kevon
10497,48840723,Deane,Riordan,deane.riordan@gmail.com,Male,astrophsics,University of Wollongong,Deane Riordan
10498,13795002,Georgina,Grimbly,georgina.grimbly@gmail.com,Female,behavioural studies,\tUniversity of New England,Georgina Grimbly
10499,64253254,Sandie,Shuler,sandie.shuler@gmail.com,Female,mathematics,Western Sydney University,Sandie Shuler

In [30]:
# convert full_name colum to a Series
name_series = df.iloc[:, 7]
name_series

0              Inga Zeeba
1            Kaja Mandler
2             Doro Georas
3            Merry Bennie
4               Luci Bord
               ...
10495       Steffane Truc
10496      Courtnay Kevon
10497       Deane Riordan
10498    Georgina Grimbly
10499       Sandie Shuler
Name: full_name, Length: 10500, dtype: object

In [31]:
name_series.is_unique

False

In [32]:
# convert student_id column to a Series
studentid_series = df.iloc[:, 0]
studentid_series.is_unique

False

In [33]:
# get all duplicate full_name and student_id
duplicate_names = df[df.duplicated(subset='full_name')]
duplicate_studentid = df[df.duplicated(subset='student_id')]

type(duplicate_names)
duplicate_names

,student_id,first_name,last_name,email,gender,major,university,full_name
849,69551036,Vere,Alva,vere.alva@gmail.com,Female,gender studies,University of Sydney,Vere Alva
1187,29612287,Demetris,Helve,demetris.helve@gmail.com,Male,finance,Western Sydney University,Demetris Helve
1586,75444340,Jessamyn,Henrie,jessamyn.henrie@gmail.com,Male,finance,Macquarie University,Jessamyn Henrie
2117,18201255,Donetta,Gilbertson,donetta.gilbertson@gmail.com,Female,music,Australian National University,Donetta Gilbertson
2282,65741509,Merle,Berriman,merle.berriman@gmail.com,Male,physics,Western Sydney University,Merle Berriman
...,...,...,...,...,...,...,...,...
10129,74507328,Chloris,Moina,chloris.moina@gmail.com,Male,politics,University of Newcastle,Chloris Moina
10166,58794031,Jorry,Cynar,jorry.cynar@gmail.com,Female,computer science,University of Wollongong,Jorry Cynar
10169,71076466,Susan,Ilka,susan.ilka@gmail.com,Male,genetics and genomics,Western Sydney University,Susan Ilka
10422,84609090,Jenilee,Rossner,jenilee.rossner@gmail.com,Male,game design,Charles Sturt University,Jenilee Rossner
10472,60994566,Gloria,Nore,gloria.nore@gmail.com,Female,business law,University of Wollongong,Gloria Nore

In [34]:
duplicate_names_index = duplicate_names.index.values.tolist()
duplicate_studenid_index = duplicate_studentid.index.values.tolist()
duplicates = duplicate_names_index + duplicate_studenid_index
duplicates = list(set(duplicates))

len(duplicates)

68

In [35]:
df.drop(df.index[duplicates], inplace=True)

In [36]:
del df['full_name']

In [37]:
df

,student_id,first_name,last_name,email,gender,major,university
0,10613065,Inga,Zeeba,inga.zeeba@gmail.com,Female,genetics and genomics,University of Newcastle
1,72356025,Kaja,Mandler,kaja.mandler@gmail.com,Female,finance,Western Sydney University
2,15140208,Doro,Georas,doro.georas@gmail.com,Female,behavioural studies,Australian National University
3,63401082,Merry,Bennie,merry.bennie@gmail.com,Female,finance and economics,Australian National University
4,91040330,Luci,Bord,luci.bord@gmail.com,Male,music,University of Wollongong
...,...,...,...,...,...,...,...
10495,51257807,Steffane,Truc,steffane.truc@gmail.com,Female,international studies,University of Technology Sydney
10496,40632374,Courtnay,Kevon,courtnay.kevon@gmail.com,Female,business analytics and statistics,University of Sydney
10497,48840723,Deane,Riordan,deane.riordan@gmail.com,Male,astrophsics,University of Wollongong
10498,13795002,Georgina,Grimbly,georgina.grimbly@gmail.com,Female,behavioural studies,\tUniversity of New England
10499,64253254,Sandie,Shuler,sandie.shuler@gmail.com,Female,mathematics,Western Sydney University

In [38]:
# drop the last 432 rows
df.drop(df.tail(432).index,inplace=True)
df

,student_id,first_name,last_name,email,gender,major,university
0,10613065,Inga,Zeeba,inga.zeeba@gmail.com,Female,genetics and genomics,University of Newcastle
1,72356025,Kaja,Mandler,kaja.mandler@gmail.com,Female,finance,Western Sydney University
2,15140208,Doro,Georas,doro.georas@gmail.com,Female,behavioural studies,Australian National University
3,63401082,Merry,Bennie,merry.bennie@gmail.com,Female,finance and economics,Australian National University
4,91040330,Luci,Bord,luci.bord@gmail.com,Male,music,University of Wollongong
...,...,...,...,...,...,...,...
10058,95259310,Kimberley,Jalbert,kimberley.jalbert@gmail.com,Male,business information systems,University of Wollongong
10059,94143698,Aigneis,Rogerio,aigneis.rogerio@gmail.com,Female,international studies,Macquarie University
10060,81242115,Hermione,Agle,hermione.agle@gmail.com,Female,computer science,Western Sydney University
10061,16376229,Melodie,Thunell,melodie.thunell@gmail.com,Female,accounting,University of Newcastle
10062,17963182,Tomasina,Richers,tomasina.richers@gmail.com,Male,chemistry,University of Sydney

In [39]:
# export Dataframe to a CSV file
df.to_csv('students.csv', encoding='utf-8', index=False)